<h1 class='title'>Create a New User</h1>

<form action="/users" method="post" id="email-form">
  <label for="user-email">Email</label>
  <input type="text" name="user[email]" id='user-email'>

  <input class='submit' type="submit" value="Create User!">
</form>
